appdirs==1.4.4
bs4==0.0.1
cachetools==4.2.1
Cartopy==0.19.0.post1
certifi==2021.5.30
cffi==1.14.5
chardet==4.0.0
cldfbench==1.7.2
cldfcatalog==1.3.0
cldfviz==0.3.0
clldutils==3.9.0
cltoolkit==0.1.1
collabutils==0.1.0
colorama==0.4.4
colorlog==4.6.2
cryptography==3.4.7
-e git+https://github.com/cldf/csvw.git@45584ad63ff3002a9b3a8073607c1847c5cbac58#egg=csvw
cycler==0.10.0
decorator==5.0.9
gitdb==4.0.5
gspread==4.0.1
idna==2.10
iniconfig==1.1.1
isodate==0.6.0
jdcal==1.4.1
kiwisolver==1.3.1
-e git+https://github.com/lingpy/lingpy.git@89d63ea243b45ccbaf03fe06ca56a8b232f1df85#egg=lingpy
lxml==4.6.2
Markdown==3.3.3
matplotlib==3.3.3
nameparser==1.0.6
networkx==2.5
newick==1.0.0
numpy==1.19.4
oauthlib==3.1.0
openpyxl==3.0.6
packaging==20.9
pluggy==0.13.1
purl==1.5
py==1.10.0
pybtex==0.23.0
-e git+https://github.com/cldf/pycldf.git@dd39c9e620da00c5c7ea390dce93bc37f196b8ae#egg=pycldf
pyclts==3.1.1
pyconcepticon==2.7.0
pycountry==20.7.3
pyglottolog==3.3.0
-e git+https://github.com/lexibank/pylexibank.git@c3656c28ce7a85e2fd2716da7e7772d7c8c9b588#egg=pylexibank
pyparsing==2.4.7
pytest==6.2.4
regex==2020.11.13
requests==2.25.1
rfc3986==1.4.0
scipy==1.6.0
segments==2.1.3
Shapely==1.7.1
six==1.16.0
smmap==3.0.4
soupsieve==2.2.1
SQLAlchemy==1.3.22
tabulate==0.8.7
termcolor==1.1.0
texttable==1.6.3
tqdm==4.55.0
uritemplate==3.0.1
urllib3==1.26.5
wcwidth==0.2.5
xlrd==2.0.1
yattag==1.14.0
zenodoclient==0.4.1